:root {
    --e-global-color-primary: #c90000;
    --e-global-color-secondary: #ffd082;
    --e-global-color-third: #000;
    --botonDialog:#dc3545;
    --colorExtra: #21243d;
}
/*GLOBALES*/
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: sans-serif;
    font-size: 1.6rem;
    line-height: 1.8;
    padding: 0px;
    margin: 0px;
    background-color: darkgrey;
}
a {
    text-decoration: none;
}
h1, h2, h3 {
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
}
h1 {
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}
.flex {
    display: flex;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/* header (TERMINADO) */

.navFirst {
    min-height: 5.5rem;
    max-width: 100vw;
    background-color: var(--e-global-color-primary);
    justify-content: space-between;
    align-items: center;
    
    
}

.navFirst__elemento {
    height: 5rem;
    padding-left: 2rem;
    align-items: center;
    gap: 1rem;
    
}

.navFirst__icon__burger {
    margin-top: 1rem;
    height: 2rem;
}

.navFirst__icon__Logotipo{
    width: 8rem;
    height: 3.5rem;
}


.navFirst__search {
    width: 30rem;
    align-items: center;
    display: none;
}

.navFirst__search__input {
    color: #000;
    height: 3.8rem;
    border: none;
    border-radius: 0.8rem;
    width: 100%;
    padding-left: 1rem;
    
}

.navFirst__search__button {
    height: 3.8rem;
    font-weight: 500;
    font-size: 2rem;
    border: none;
    border-left: 0.1px solid #d2d0d0;
    right: 0;
    position: absolute;
    margin-right: 1rem;
    background-color: #FFF;
    
}

.navFirst__loupe {
    display: flex;
}

.navFirst__image__loupe {
    margin-right: 1rem;
    height: 3rem;
}



/* BARAA DE NAVEGACION Lateral (terminado)*/

.navSecond {
    max-width: 23rem;
    height: 94vh;
    flex-direction: column;
    justify-content: space-between;
    background-color:  #000;
    display: none;
    
}

.navSecond__list {
    margin-top: 2rem;
    line-height: 5rem;
}

.navSecond__enlace {
    max-width: 100%;
    height: 5rem;
    color: #808080;
    gap: 1rem;
    padding-left: 1.5rem;
}

.navSecond__item__image{
    margin-top: 0.5rem;
}


.navSecond__image {
    width: 2.5rem;
    height: 2.5rem;
}


.navSecond__enlace:hover {
    width: 100%;
    background-color: #c9c9c9;
}

/*banner title*/

.navSecond__lastBanner {
    background-color: #ff7c7c;
    height: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navSecond__title_enlace {
    color: #FFF;
    font-weight: bold;
    font-size: 1.6rem;
   
}

/* Banner lateral ^^^^ */




/* seccion horarios */

.sectionSchedules {
    width: 100%;
    min-height: 7.5rem;
    background-color: var(--e-global-color-secondary);
    flex-direction: column;
    justify-content: center;

}

.sectionSchedules_title {
    margin: 0px;
    padding: 0px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #000;
}

.sectionSchedules_paragraph{
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-size: 1.3rem;
    margin-top: -0.5rem;
    color: #615b5b;
}

/* Dialog Horarios */

.dialogBox {
    border: none;
    background-color: #FFF;
    width: 60rem;
    border-radius: 1.2rem;
}

.boxImageAlert {
    justify-content: center;
    padding-top: 2rem;
}

.titleHorariosDialog {
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem 0rem;
}

.dialogList {
    justify-content: center;
}

.dialogListParent {
    padding: 0px;
}

.itemDialogHorarios {
    line-height: 3rem;
    color: #808080;
}

.buttonDialogBox {
    justify-content: center;
    margin-top: 2rem;
}

.buttonDialog {
    width: 50%;
    background-color: #ff7c7c;
    border: none;
    height: 4rem;
    border-radius: 1rem;
    color: #FFF;
    font-weight: 600;
    font-family: sans-serif;
}


.bannerBlack {
    height: 9rem;
    width: 100%;
    background-color: #000;
    justify-content: center;
}





/* sección categorias */

.test111 {
    width: 100vw;
    justify-content: center;
}

.titleCategoria {
    width: 100%;
    justify-content: center;
    margin-top: -7rem;
    
}

.categoria__container__title {
    background-color: cadetblue;
    height: 4.5rem;
    width: 60%;
}

.title__menu__categoria{
    color: #898989;
    margin: 0;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: -0.1rem;
    text-align: start;
    
}

/**/











